body {
  background-color: rgb(255, 255, 255);
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x:hidden;
}
.login {
  width: 20vw;
  min-width: 200px;
  margin: auto;
  padding: 10px;
}

/* .allProductsImg {
  width: 20vw;
  height: 30vh;
} */

/* .product-card.card {
  width: 80vw;
  margin: auto;
  border: 30px 0 10px 0;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;  
}
.image{
  margin-right: 5vw; 
} */

.dropdown-menu[data-bs-popper] {
  background-color: #3FB8C3;
  color: #D0EBD7;
}

.footer {
  background-color: #3FB8C3;
  color: #D0EBD7;
}