@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rajdhani:wght@500&display=swap');
*{
  font-family: 'Patua One', cursive;
}
body {
  
 margin:0;

}

h1{
  color:white;
  margin-left: 3vw;
}

.searchbar-div{
 margin-left: 3vw;
 margin-bottom: 3vh;
}


