@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rajdhani:wght@500&display=swap');
*{
  font-family: 'Patua One', cursive;
}
body {
  
 margin:0;

 
}

.link{
    text-decoration: none;
}