@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rajdhani:wght@500&display=swap');
*{
  font-family: 'Patua One', cursive;
}
body {
  
 margin:0;

}

h1{
  color:white;
  margin-left: 3vw;
}

.searchbar-div{
 margin-left: 3vw;
 margin-bottom: 3vh;
}

#category {
  background-color: rgba(255, 255, 255, 0.454);
  border-style: none;
  height: 26px;
  margin-left: 5px;
  color: #22577a;
}
select {
  background-color: rgba(255, 255, 255, 0.454);
  border-style: none;
}

#condition {
  background-color:rgba(255, 255, 255, 0.454);
  height: 26px;
  margin-left: 5px;
  color: #22577a;
}

#search {
  background-color: rgba(255, 255, 255, 0.454);
  margin-left: 5px;
  color: #22577a;
}

input {
  background-color: rgba(255, 255, 255, 0.454);
  border-style: none;
  appearance: auto;
  
}


.footer{
  position: absolute;
  bottom: 0;
}

.review-button{
  text-decoration: none;
  color:#22577A
}